.body{background-color: lightgray;
	
}

.tec{
	list-style-type: none;
	text-decoration: none;
	text-align: left;
	display:none;
}
a{
	text-decoration:none;
	text-align: left;
	size: 14pt;
	color: purple;
}
a:hover{
	background-color: red;
}


#tec:hover .tec{
	display: inline-table;
}